body {
    /*background colour of the website*/
    background:linear-gradient(#b9140c,#8f1f00,#2c180d);
}

.img { /*the background image of the header*/
    padding-top: 75px;
    padding-bottom: 130px;
    position: relative;
    background-size: contain;
    top: -15px;
    opacity: 0.8; /*changing the opacity of the image*/
    display: flex; /*layout of the image*/
    filter: brightness(85%);
}

h1 {
    font-family: "Sans-serif", serif; /*changing the font*/
    font-weight:bolder; /*bold text*/
    color: rgb(224, 179, 179); /*colour of the text*/
    font-size: 60px; /*size of the text*/
    text-align: center; /*alignment or where the position of the text*/
    margin-top: -11%; /*gap from the top of the website to the text*/
    /* x-offest, y-offest, blur-radius, shadow colour*/
    text-shadow: 0 0 8px #202b0f; /*shadow of the header*/
}

.colume {
    padding:11px; /*gap from the img to the boarder*/
    justify-content: space-between;
    box-shadow: 0 0 17px rgb(24, 3, 1);
    flex-direction: column;
}

.colume p {
    color: rgb(250, 222, 215);
    font-family: "Sans-serif"; /*changing the font*/
    font-size: 13px;
    text-align: center;
    margin: 0;
    font-style: italic;
}
.text {
    font-size: 18px;
    font-style: normal;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 9%;
    margin-left: 2%;
}

#row::after { /*inserts the images beside/after the image*/
    content: ""; 
    clear: both; /*positioned next to a floating image*/
    display: table; /*display the images as a table*/
}

footer {
    text-align: center;
    color:rgb(250, 222, 215);
    margin-bottom: 109px;
    font-family: "Lora";
    font-size: 15px;
    position: relative;
    /*translate (x,y)*/
    transform: translate(-15px, 80px); /*positioning the text*/
}
img{
    max-width: 100%;
    border-radius: 10px;
  }
  

  
  .image1 { 
    float: left;
    flex: 1; 
    padding: 10px; 
    margin: 10px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    filter: blur-radius(5%);
  } 
  
  
  .image2 {
    float: left; 
    flex: 1; 
    padding: 10px; 
    margin: 10px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    filter: blur-radius(5%);
  
  } 
  
  .image3 { 
    float: left;
    flex: 1; 
    padding: 10px; 
    margin: 10px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
  } 